body{
    font-family:sans-serif;
    padding:2em;
}

p{
    white-space: pre;

}

h2{
    margin-top:3em;
}

h3{
    margin-top:2em;
}

strong{
    margin: 1em 0;
    opacity:0.7;
    display:block;
}