#selectedFiles{

    max-height:300px;
    overflow-y:auto;
    max-width:600px;
}
.not_imported{
    background-color:;
    width:100%;
    color:gray;
    padding:1em !important;
}

#selectedFiles tr{

}

#selectedFiles td{
    height:30px;
    min-height:30px;
    max-height:30px;
    padding:1em !important;
}


.fileText{
     min-width:100px;
}

.fileIcon{
    min-width:50px;

}


#nml2-logo{
	width:100px;
	display:inline-block;
}

.nml2-container{
	width:100%;

	
	
}
.nml2-left{

	display:block;
	top:0px;
	
}
.nml2-right{
	height:100%;
	display:inline-block;
	padding-left:20px;
	top:0px;
	vertical-align: top; 
}

.well{
	padding:20px;

	background-color:#E5E5E5;
	margin-right:20px;
}

.indent{
	padding-left:20px;
}