


.nml2-left{

	display:block;
	top:0px;
	
}
.nml2-right{
	height:100%;
	display:inline-block;
	padding-left:20px;
	top:0px;
	vertical-align: top; 
}

.well{
	padding:20px;

	background-color:#E5E5E5;
	margin-right:20px;
}

.indent{
	padding-left:20px;
}