html {
  height: 100%;
}
body {
  background:#FFF;
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  color: black;
}

.wrapper {
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}


h1, h2 {
  width: 100%;
  float: left;
}
h1 {
  margin-top: 100px;
  margin-bottom: 5px;
  font-size: 70px;
  letter-spacing: -4px;
}
h2 {
  font-weight: 100;
}

.pointer {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: 15px;
}
pre {
  margin: 80px auto;
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}
.back:hover {
  background: rgba(0, 0, 0, 0.85);
}
.page_container, .other {
  max-width: 800px;
  margin: 50px auto;
}
.page_container h2, .page_container h1, .other h2, .other h1  {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding-bottom: 15px;
}
.page_container h2, .page_container h3, .other h3 , .other h2  {
  text-align: left;
}
.page_container h2, .page_container h1 , .page_container h3, .other h2, .other h1 , .other h3 {
}
.page_container p, .other p {
  font-size: 18px;
  line-height: 180%;
  text-align: left;
}
.page_container h2 {
  font-size: 35px;
}

.header {
  background-color:#38333A;
  background-size: 100%;
  color: white;
  margin-bottom: 3em;
}
.minibanner{
  text-align: left;
  margin-top: 5em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  margin-left: 3.5em;
  margin-right:3.5em;
  border-bottom: .5em solid yellow;
}

.pagetitle{
  font-family: 'Roboto Slab';
  font-size: 1.5em;
}

.minibannertitle{
  font-family: Lato;
  font-size: 3em;
}

.minibannerexplanation {
  font-family: 'Roboto Slab';
  font-size: 1.5em;
}

.align-left {
  text-align: left !important;
}
